#afterpay-pre-check-customer:after {
    content: "";
    display: table;
    clear: both;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}
.woocommerce-checkout input:read-only {
  opacity: 0.6; 
  cursor: not-allowed;
}
.afterpay-terms-content-box {
  padding: 10px;
}
.woocommerce-billing-fields p.afterpay-get-address-button-row,
.woocommerce-billing-fields p.afterpay-dob-field {
  margin-bottom: 0;
}
p.form-row.form-row-wide.afterpay-privacy-info {
  font-size: smaller;
}
input#afterpay-pre-check-customer-number,
button.afterpay-customer-lookup-button.button {
  margin-bottom: 0.2em;
}
#afterpay-pre-check-customer-response {
  content: "";
  display: table;
  clear: both;
}